/* IMPORT FONTS */

@import url('https://fonts.googleapis.com/css?family=Varela');

body, html, .container-fluid, .sidebar {
    height: 100%;
    min-height: 100%;
    margin: 0;
}

body {
    background-color: #f7f7f7;
    height: 100%;
}

/* OVERALL */
.container {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.missing {
    color: tomato;
}

h1 {
    font-family: 'Varela', sans-serif;
}

/* NAVIGATION LOGGED OUT */


.navbar {
    border-radius: 0;
    margin-top: 0vh;
    background-image: none;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: none;
	background-color: #000;
	position: fixed;
	width: 100vw;
	z-index: 1000;
	-webkit-box-shadow: 0px 5px 23px -6px rgba(0,0,0,0.30);
    -moz-box-shadow: 0px 5px 23px -6px rgba(0,0,0,0.30);
    box-shadow: 0px 5px 23px -6px rgba(0,0,0,0.30);
}

.logo img {
    display: block;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1vw;
}


/* LOGIN AND REGISTER */
.body_log_reg {
    background-color: #f7f7f7;
    width: 100vw;
}

.container_log_reg {
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding: 3vw;
    border: 1px solid #d8d8d8;
}

.container_log_reg h1 {
    text-align: center;
}

.log_reg input[type=text] {
    background-color: #f7f7f7;
    border-style: none;
    border-radius: 0;
}

.log_reg input[type=password] {
    background-color: #f7f7f7;
    border-style: none;
    border-radius: 0;
}

#log_reg_button {
    border: none;
    background: #6eb9e5 !important;
    color: #fff;
    border-radius: 0;
}

#log_reg_button:hover {
    background: #5ea1c9 !important;
}

.avatar {
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

#result {
    position: absolute;
    background-color: white;
    width: 196px;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

#result a {
    padding-left: 12px;
}

/* INDEX SIDE BAR */
.col-sm-3 {
    height: 100vw;
}

/* FEED */
main {
    margin-top: 5vh;
}

.main_container {
    margin-left: 25vw;
    margin-top: 5vh;
}

.post-container {
    width: 95%;
    height: auto;
    display: inline-block;
    margin-bottom: 2vh;
    background-color: #f9fbfc;
    -webkit-box-shadow: 0px 5px 23px -6px rgba(0,0,0,0.30);
    -moz-box-shadow: 0px 5px 23px -6px rgba(0,0,0,0.30);
    box-shadow: 0px 5px 23px -6px rgba(0,0,0,0.30);
    position: relative;
}

.post-container .post-container-img {
    width: 60%;
    float: left;
    vertical-align: middle;
    position: relative;
}

.post-container-img img {
    max-height: 600px;
    max-width: 100%;
}

.post-container .post-container-description {
    float: right;
    height: 100%;
    width: 40%;
    background-color: #fff;
    text-align: left;
    position: absolute;
    right: 0;
    top: 0;

}

.info {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    height: 84%;
    overflow: auto;
}

.post-container .post-container-description span {
    font-weight: bold;
}

.comment-form {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.post-container .post-container-description .comment-form input {
    width: 60%;
    float: left;
    height: 40px;
    background-color: #f7f7f7;
    border-style: none;
    border-radius: 0;
}

.post-container .post-container-description .comment-form button {
    width: 20%;
    float: right;
    border: none;
    background-color: #6eb9e5;
    color: #fff;
    border-radius: 0;
    height: 40px;
}

.post-container .post-container-description .comment-form button:hover {
    background-color: #5ea1c9;
}

#like-form {
    width: 10% !important;
    background: none !important;
}

#like-form:hover {
    opacity: 0.8;
}

#sidebar {
    position: fixed;
    top: 10vh;

}

.upload_button {
    position: fixed;
    z-index: 10000;
    bottom: 4vw;
    right: 4vw;
    border: none;
    background-color: blue;
    color: #fff;
    height: 60px;
    width: 60px;
    border-radius: 100px;
    opacity: 0.4;
    font-size: 40px;
}

.upload_button:hover {
    opacity: 1;
}

.upload_button a {
    color: #fff;
}

/* gif menu */

#gif-img {
    width: 75px;
    height: 75px;
}

#gif-menu {
    min-width: 0px !important;
    min-height: 0px !important;
    width: 405px;

}

#gif-btn {
    background-color: #949699;
    width: 10%;
}


#gif-btn:hover {
    background-color: #b6b7ba;
}

#gif-header {
    margin-left: -5px;
}

#gif-item {
    float:left;
    box-shadow: 0 0 1px #719ECE;
    margin-left: 5px;
}

#sidebar_groups {
    text-transform: uppercase;
    font-weight: bold;
}

#sidebar_groups:focus {
    background-color: yellow;
}

#loadgroups {
    list-style-type:square;
    color: #a1c6dd;
    padding-left:15px;
}