{% extends "layout.html" %}

{% block title %}
    Comment
{% endblock %}

{% block main %}
<body>
    <h1>{{ msg }}</h1>

    <h2>comments</h2>

    {% for comment in comments %}

        {% if comment.comment_gif != "empty" %}
            <p><img src="{{ comment.comment_gif }}"></p>
        {% endif %}

        {% if comment.comment != "empty" %}
            <p>{{ comment.comment }}</p>
        {% endif %}

    {% endfor %}
    <div class="btn-group">
        <form action="{{ url_for('giphy') }}" method="post">
        <button type="button" class="btn btn-default dropdown-toggle" id="gif-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gif</button>
        <ul class="dropdown-menu" id="gif-menu">
            {% for gif in gif_list %}
            <li id="gif-item"><input type="image" src="{{ gif }}" name="gif" value="{{ gif }}" id="gif-img"/></li>
            {% endfor %}
        </ul>
        </form>
      </div>
    </body>
{% endblock %}