{% extends "layout.html" %}

{% block title %}
    Groupfeed
{% endblock %}

{% block main %}
<body class="body_log_reg">
    <div class="container_log_reg">
        <body>
            <h1>{{ info }}</h1>
                {% for post in feed %}
                    <p>
                        {{ post.username }}
                        <BR>
                        {{ post.description }}
                        <BR>
                    </p>
                    <img src="static/img/{{ post.post_path }}" alt={{ post.post_id }} width="300" height="300"/>
                {% endfor %}
        </body>
    </div>
</body>
{% endblock %}

