{% extends "layout.html" %}


{% block title %}
    Index
{% endblock %}

{% block main %}
	<body>
		<div class="main_container">
	    <h1>{{ info }}</h1>
	    {% for post in feed %}
	    <div class="post-container">
	    	<div class="post-container-img">
	    		<img src="static/img/{{ post.post_path }}" alt="{{ post.post_id }}"/>
	    	</div>
	    	<div class="post-container-description">
	    		<div class="info">
			        <p>
			        	<span>Post by: </span>{{ post.username }}
			            <br>
			            <span>Description:</span> {{ post.description }}
			            <br>
			            <span>Likes:</span> {{ post.likes }}
		        	</p>
		        	{% for comment in comments %}
		        		{% if comment.post_id == post.post_id and comment.comment_gif != "empty" %}
							<p><span>{{comment.username}}: </span><img src="{{ comment.comment_gif }}" id="comment-gif"></p>
						{% endif %}

						{% if comment.post_id == post.post_id and comment.comment != "empty" %}
							<p><span>{{comment.username}}: </span>{{ comment.comment }}</p>
						{% endif %}
		        	{% endfor %}
	        	</div>
	        	<div class="comment-form">
					<form action="{{ url_for('index') }}" method="post">
		        		<input type="hidden" name="likes" value="{{post.post_id}}"/>
		        		<button id=like-form><img src="{{ url_for('static', filename='like.png') }}"></button>
		        	</form>
	        		<form action="{{ url_for('index') }}" method="post">
				        <button type="button" id="gif-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">GIF</button>
				        <ul class="dropdown-menu" id="gif-menu">
				        	<input type="hidden" name="post_id" value="{{ post.post_id }}"/>
				            {% for gif in gif_list %}
				            <li id="gif-item"><input type="image" src="{{ gif }}" name="gif" value="{{ gif }}" id="gif-img"/></li>
				            {% endfor %}
				        </ul>
			        </form>

		        	<form action="{{ url_for('index') }}" method="post">
		        		<input type="hidden" name="post_id" value="{{ post.post_id }}"/>
						<input class="form-control" name="comment" placeholder="Leave a comment" type="text" required>
						<button>Comment!</button>
					</form>

				</div>
			</div>
	    </div>
	    {% endfor %}
	    </div>
	</body>
{% endblock %}

{% block grouplist %}

    {% for groupname in groupnames %}
        <li><a href="{{ groupname.groupname }}">{{ groupname.groupname }}</a></li>
    {% endfor %}

{% endblock %}