{% extends "layout.html" %}


{% block title %}
    Index
{% endblock %}





{% block main %}
	<body>
	    <h1>{{ info }}</h1>
	    {% for post in feed %}
	    <div class="post-container">
	    	<div class="post-container-img">
	    		<img src="static/img/{{ post.post_path }}" alt="{{ post.post_id }}"/>
	    	</div>
	    	<div class="post-container-description">
	    		<div class="info">
			        <p>
			        	<span>Post by: {{ post.username }}</span>
			            <br>
			            {{ post.description }}
		        	</p>
		        	{% for comment in comments %}
		        	{% endfor %}
	        	</div>
	        	<div class="comment-form">
		        	<form action="{{ url_for('index') }}" >
						<input class="form-control" placeholder="Leave a comment" type="text" required>
						<button>Comment!</button>
					</form>
					<form action="{{ url_for('giphy') }}" method="post">
				        <button type="button" class="btn btn-default dropdown-toggle" id="gif-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gif</button>
				        <ul class="dropdown-menu" id="gif-menu">
				            {% for gif in gif_list %}
				            <li id="gif-item"><input type="image" src="{{ gif }}" name="gif" value="{{ gif }}" id="gif-img"/></li>
				            {% endfor %}
				        </ul>
			        </form>
				</div>
			</div>
	    </div>
	    {% endfor %}
	</body>
{% endblock %}

{% block grouplist %}

    {% for groupname in groupnames %}
        <li><a href="{{ groupname.groupname }}">{{ groupname.groupname }}</a></li>
    {% endfor %}

{% endblock %}