<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta -->
        <meta charset="utf-8"/>
        <meta content="initial-scale=1, width=device-width" name="viewport"/>

        <!-- documentation at http://getbootstrap.com/, alternative themes at https://www.bootstrapcdn.com/bootswatch/ -->
        <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>-->

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"/>
        <link href='https://fonts.googleapis.com/css?family=Reem Kufi' rel='stylesheet'>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <title>GROUPSTA{% block title %}{% endblock %}</title>

        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.js"></script>
        <script>
	        function liveSearch(value){
					value = value.trim();
					if(value != ""){
						$.ajax({
							url: "{{ url_for('livesearch') }}",
							data: {searchText: value},
							dataType: "json",
							success: function(data){
								var result = ""
								for(i in data.group_id){
									result += '<a href="/' + data.results[i] + '">' + data.results[i] + '</a>' + '<br>'
								}
								$("#result").html(result);
							}
						});
					}
					else{
						$("#result").html("");

					}
				}
        </script>

    </head>
    <body>

        <nav class = "navbar navbar-inverse" role = "navigation">
            <div class = "container-fluid">
            <div class= "navbar-header">
                <a class = "navbar-brand" href = "{{ url_for('index') }}"><font color="f8f8ff"><font family = "Lucida Console"><b> Groupsta <span class="glyphicon glyphicon-link"></span> </b></font></font></a>
            </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar">
                    {% if session.user_id %}
                    <form action="{{ url_for('search') }}" class="navbar-form navbar-right" role="search" method=post>
                        <div class="form-group">
                            <input class="form-control" placeholder="Search" type="text" onkeyup="liveSearch(this.value)" required>
                            <div id="result"></div>
                        </div>
                        <button type="submit" class="btn">Search</button>
                    </form>
                    <ul class = "nav navbar-nav navbar-right">
                        <li class = "dropdown">
                                <a href = "#" class = "dropdown-toggle" data-toggle= "dropdown">Profile <span class="caret"></span> <img src="https://www.w3schools.com/w3images/avatar6.png" alt="Avatar" class="avatar">
                                    <!--<span class = "glyphicon glyphicon-user"></span>-->
                                </a>
                                <ul class = "dropdown-menu">
                                    <li><a href="{{ url_for('profile') }}">Profile</a></li>
                                    <li><a href="{{ url_for('settings') }}">Settings</a></li>
                                    <li><a href="{{ url_for('logout') }}">Logout <span class="glyphicon glyphicon-log-out"></span></a></li>
                                </ul>
                            </li>

                    </ul>
                    {% endif %}

                    <ul class = "nav navbar-nav navbar-left">
                        <li class = "active">
                            {% if session.user_id %}
                            <li><a href="{{ url_for('post') }}"><font color="f8f8ff">Upload <span class="glyphicon glyphicon-circle-arrow-up"></span> </font> </a></li>
                            <li class = "dropdown">
                                <a href = "#" class = "dropdown-toggle" data-toggle= "dropdown">Groups <span class="caret"></span></span>
                                </a>
                                <ul class = "dropdown-menu">
                                    <li><a href = "{{ url_for('followgroup') }}">My groups</a></li>
                                    <li><a href = "{{ url_for('followgroup') }}">Explore groups</a></li>
                                    <li><a href="{{ url_for('create') }}">Create new group</a></li>
                                </ul>
                            </li>

                            <li><a href="{{ url_for('create') }}">Create</a></li>
                            <li><a href="{{ url_for('giphy') }}">Comments</a></li>
                            <!--<li>
                                <ul class = "nav navbar-nav navbar-right">
                                <form class = "navbar-form" role = "search">

                                    <div class = "form-group">
                                        <input type = "text" class = "form-control" placeholder = "Search">
                                    </div>
                                    <button type = "submit" class = "btn btn-default">Submit</button>

                                </form>
                                </ul>
                            </li>-->
                            {% else %}
                            <li><a href="{{ url_for('register') }}"><font color="f8f8ff">Join Groupsta</font></a></li>
                            <li><a href="{{ url_for('login') }}">Log In</a></li>
                            {% endif %}
                    </ul>



            </div>
        </div>
        </nav>

    <div class="container-fluid">
        <div class="row row-offcanvas row-offcanvas-left">
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">



            <!--/span-->

                    <div class="sidebar-nav">
                    <ul class="nav">

                        <div class="sidenav">
                        {% if session.user_id %}
                        <p>My Groups</p>
						{% block grouplist %}{% endblock %}
						<li class="nav-divider"></li>
                        <li class="active"><a href="{{ url_for('followgroup') }}">Explore Groups</a></li>
                        {% endif %}

                    </ul>
                </div>
                <!--/.well -->
            </div>


            <main>
                <center>
                <br></br>
                {% block main %}{% endblock %}

            </main>

        </div>

    </body>

</html>

