{% extends "layout.html" %}

{% block title %}
    Post
{% endblock %}

{% block main %}
    <body>
        <!--<h1>Share your stories!</h1>-->
        <!--<h2>In wich group do you want to share?</h2>-->
        <form enctype=multipart/form-data action="{{ url_for('post') }}" method=POST>
            <!--{% for group in groups %}-->
            <!--<input type="radio" name="group" value="{{ group.id }}">{{ group.group_name }}<br>-->
            <!--{% endfor %}-->
            <input type="file" name="photo">
            <input type="submit" name="action">
        </form>

    </body>
{% endblock %}