{% extends "layout.html" %}

{% block title %}
    Post
{% endblock %}

{% block main %}
    <body>
        <div class="main_container">
        <h1>Share your stories!</h1>
        <h2>In which group do you want to share?</h2>
        <form enctype=multipart/form-data action="{{ url_for('post') }}" method=POST>

            {% for group in groups %}
            <input type="radio" name="group" value="{{ group.group_id }}">{{ group.groupname }}<br>
            {% endfor %}

            <textarea name="description" placeholder="Description"></textarea>

            {{ error }}

            <input type="file" name="photo">
            <input type="submit" name="action">
        </form>
        </div>
    </body>
{% endblock %}