<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta -->
        <meta charset="utf-8"/>
        <meta content="initial-scale=1, width=device-width" name="viewport"/>

        <!-- documentation at http://getbootstrap.com/, alternative themes at https://www.bootstrapcdn.com/bootswatch/ -->
        <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>-->

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"/>
        <link href='https://fonts.googleapis.com/css?family=Reem Kufi' rel='stylesheet'>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <title>Share your stories on Groupsta</title>

        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.js"></script>

    </head>
    <body background="https://cdn.discordapp.com/attachments/403491751098056717/408302037449572352/landing_background.jpg">

        <nav class = "navbar navbar-inverse" role = "navigation">
            <div class = "container-fluid">
            <div class= "navbar-header">
                <a class = "navbar-brand" href = "{{ url_for('index') }}"><font color="f8f8ff"><font family = "Lucida Console"><b> Groupsta <span class="glyphicon glyphicon-link"></span> </b></font></font></a>
            </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar">



                    </ul>


                    <ul class = "nav navbar-nav navbar-left">
                        <li class = "active">
                            <li><a href="{{ url_for('register') }}"><font color="f8f8ff">Join Groupsta</font></a></li>
                            <li><a href="{{ url_for('login') }}">Log In</a></li>
                    </ul>



            </div>
        </div>
        </nav>

        <div id ="welcome" align = "center">

            <p><h1><font color="f8f8ff">
                Share your favorite moments with the communities your care about.<br>
                <br>

            </font>
            </p></h1>

            <a href="{{ url_for('register') }}"><button id="get_started"><h1>Join Groupsta</h1></button></a>
            </p>


        </div>


    </body>

</html>

